$black: #232323;
$grey: #7b7b7b;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$orangeHever: #ee5b21;

$container-width: 90%;

$duration: 0.15s;
$radius: 30px;

// box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
