@import "variables";

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray-line;
  padding: 20px;
}
.text {
  text-align: center;
}
.icon {
  margin: 0px 3px;
  color: #0e76a8;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
