@import "variables";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  margin-left: 5px;
}
.name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  @media (max-width: 769px) {
    font-size: 18px;
    line-height: 20px;
  }
}
.filterBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0 0 0;
  margin-top: 20px;
  background: $gray-line;
  border-radius: 10px;
}
.typesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;

  Li {
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    border: 0px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 5px 10px 5px;

    transition: all 0.3s;
    &:hover {
      background: #fff;
    }
  }
}

.activeBtnFilter {
  background: #fff;
}

// last block
.lastBlock {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.price {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  @media (max-width: 1025px) {
    font-size: 18px;
    line-height: 20px;
  }
}
.addBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #fff;
  color: $orange;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid $orange;
  border-radius: $radius;
  padding: 10px 20px;

  transition: all 0.3s;
  @media (max-width: 1025px) {
    padding: 10px;
  }

  .plus {
    margin-right: 10px;
    transition: all 0.3s;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    border-radius: 50%;
    background: $orange;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
  }

  &:hover {
    background: $orange;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

    svg path {
      transition: all 0.3s;
      fill: #fff;
    }

    .count {
      transition: all 0.3s;
      background: #fff;
      color: $orange;
    }
  }
}
